.educ {
   background-color: #1e2029;
   margin-left: 25px;
   font-size: 20px;
}

h5, h6, p {
    color: #ffffff;
    font-family: 'Elza Trial', sans-serif;
    font-family: 'Elza Text Trial', sans-serif;
}

h2 {
    font-family: 'Narlesh Plasttic', sans-serif;
    font-size: 50px;
}
