<div class="container-fluid pb-5">
    <div class="row pt-5">
        <h2>Education</h2>
            <div class="row row-cols-2">
                <div class="col pt-3">
                    <div class="card educ" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Elementary School</h5>
                          <h6 class="card-subtitle mb-2 ">2013-2017</h6>
                          <p class="card-text">{{elemschool}}</p>
                        </div>
                      </div>
                </div>
                <div class="col pt-3">                    
                    <div class="card educ" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Junior High School</h5>
                      <h6 class="card-subtitle mb-2 ">2017-2019</h6>
                      <p class="card-text">{{juniorhigh}}</p>
                    </div>
                  </div>
                </div>
                <div class="col pt-3">
                    <div class="card educ" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Senior High School</h5>
                          <h6 class="card-subtitle mb-2 ">2019-2020</h6>
                          <p class="card-text">{{seniorhigh}}</p>
                        </div>
                </div>
                </div>
                <div class="col pt-3">                   
                    <div class="card educ" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Bachelor Degree</h5>
                      <h6 class="card-subtitle mb-2 ">2021-Present</h6>
                      <p class="card-text">{{bachelordegree}}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
</div>
