h2 {
    text-align: center;
    font-family: 'Narlesh Plasttic', sans-serif;
    font-size: 50px;
}

h5 {
    font-family: 'Elza Trial', sans-serif;
    font-family: 'Elza Text Trial', sans-serif;
}

.ref-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

