<link href="https://fonts.cdnfonts.com/css/narlesh-plasttic" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/elza-trial" rel="stylesheet">
                
                
<header class="container-fluid">
  <div class="container-sm">
    <div class="row">
      <div class="row d-flex justify-content-center">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/020/914/493/small/groovy-flower-cartoon-characters-funny-happy-daisy-with-eyes-and-smile-png.png" class="img-fluid profile-pic" alt="Profile Picture">
      </div>
      <div class="row pt-5 pb-5 text-center ">
        <h1>Hi. I'm {{name}}.</h1>
        <h3>A Web Developer.</h3> 
      </div>
    </div>
</div>
  </header>
  
  <div class="container-fluid">
    <div class="container-sm">
      <div>
        <app-personal-info></app-personal-info>
     </div>
    </div>
  </div>

  <div class="container-fluid">
    <div>
      <div class="container-sm">
      <app-education></app-education>
      </div>
    </div>
  </div>

  
  <div class="container-fluid">
    <div>
      <div class="container-sm bg-sage-green work-exp">
        <app-work-experience></app-work-experience>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div>
      <div class="container-sm">
        <app-training></app-training>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-sage-green">
    <div>
      <div class="container-sm">
        <div class="skill-cert"><app-skills-certification></app-skills-certification></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div>
      <div class="container-sm">
        <app-references></app-references>
      </div>
    </div>
  </div>
 
  
  <footer class="text-center text-lg-start py-3">
    <div class="container">
          <p class="text-center">
            &copy; 2024 Coleen Masbang
          </p>
    </div>
  </footer>