<div class="container-fluid pb-5">
    <div class="row pt-5">
        <h2>Work Experience</h2>
            <div class="row">
                <div class="col pt-3">
                    <div>
                        <div class="card-body worke">
                          <h4>Web Designer</h4>
                          <h6 class="card-subtitle mb-2 text-body-secondary">2021-Present</h6>
                          <p class="card-text">As a web designer, I have a strong background in creating visually appealing and user-friendly websites. I am proficient in various design tools and have a deep understanding of UI and UX principles. I have experience in designing and developing responsive websites that work seamlessly on different devices and browsers. I am also skilled in optimizing websites for maximum speed and scalability. My goal is to create websites that not only look great but also provide a great user experience.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
</div>
