<div class="container-fluid pb-5">
  <div class="row pt-5">
  <h2>Training</h2>
  <div class="row train">
  <div class="col pt-3">
  <div class="card">
  <div class="card-body">
  <h4 class="card-title">Cisco NetAcad</h4>
  <h6 class="card-subtitle mb-2 text-body-secondary">2021-2023</h6>
  <p class="card-text">Completed training in networking fundamentals, routing and switching, network security, and wireless networking. Gained hands-on experience with Cisco routers, and switches.</p>
  </div>
  </div>
  </div>
  </div>
  <div class="row train">
  <div class="col pt-3">
  <div class="card">
  <div class="card-body">
  <h4 class="card-title">AWS</h4>
  <h6 class="card-subtitle mb-2 text-body-secondary">2024</h6>
  <p class="card-text">Completed training in cloud computing, AWS services, and AWS DevOps. Gained hands-on experience with AWS EC2, S3, RDS, and Lambda.</p>
  </div>
  </div>
  </div>
  </div>
  <div class="row train">
  <div class="col pt-3">
  <div class="card">
  <div class="card-body">
  <h4 class="card-title">Red Hat</h4>
  <h6 class="card-subtitle mb-2 text-body-secondary">2021-2022</h6>
  <p class="card-text">Completed training in system administration, virtualization, and storage management. Gained hands-on experience with Red Hat Enterprise Linux, and Red Hat Virtualization</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>