<div class="container-fluid pb-5">
  <div class="row pt-5">
  <h2>Skills</h2>
  <div class="row skilcer pt-4">
  <div class="col pt-3">
  <div>
  <div class="card-body pb-3">
  <h4>Programming Languages</h4>
  <h6 class="card-subtitle pb-3 mb-2 text-body-secondary">Python, Java, JavaScript, HTML, CSS</h6>
  <div class="bar">
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 48%">Python</div>
    </div>
  </div>
  <div class="bar pt-3">
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar " style="width: 25%">Java</div>
    </div>
  </div>
  <div class="bar pt-3">
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 45%">JavaScript</div>
    </div>
  </div>
  <div class="bar pt-3">
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 78%">HTML/CSS</div>
    </div>
  </div>
  
 
  </div>
  <div class="card-body pt-4 pb-3 ">
  <h4>Frameworks</h4>
  <h6 class="card-subtitle pb-3 mb-2 text-body-secondary">React, Angular</h6>
  <ul class="list-group">
    <li class="list-group-item mb-3"><p class="card-text list-text">React - Building UI components and single-page applications.</p></li>
    <li class="list-group-item"> <p class="card-text list-text">Angular - Building web applications and single-page applications.</p></li>
  </ul>
  </div>
  <div class="card-body pt-4 pb-3">
  <h4>Databases</h4>
  <h6 class="card-subtitle pb-3 mb-2 text-body-secondary">MySQL, MongoDB</h6>
  <ul class="list-group">
    <li class="list-group-item mb-3"><p class="card-text list-text">MySQL - Data modeling, querying, and optimization.</p></li>
    <li class="list-group-item">   <p class="card-text list-text">MongoDB - Document-oriented databases and schema design.</p></li>
  </ul>
  </div>
  <div class="card-body pt-4 pb-3">
  <h4>Cloud Platforms</h4>
  <h6 class="card-subtitle pb-3 mb-2 text-body-secondary">AWS</h6>
  <ul class="list-group">
    <li class="list-group-item mb-3">  <p class="card-text list-text">AWS - Cloud computing and solutions architecture.</p></li>
  </ul>
  </div>
  
  <div class="card-body pt-4">
  <h2 class="text-center pb-5 pt-5">Certifications</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card bg-dark-blue">
        <img src="https://images.credly.com/images/73e4a58b-a8ef-41a3-a7db-9183dd269882/image.png" class="card-img-top cert-img">
        <div class="card-body">
          <h5 class="card-title text-center h5cert">AWS Academy Cloud Foundations Completion</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark-blue">
        <img src="https://images.credly.com/images/af8c6b4e-fc31-47c4-8dcb-eb7a2065dc5b/I2CS__1_.png" class="card-img-top cert-img" >
        <div class="card-body">
          <h5 class="card-title text-center h5cert">Cisco IoT Completion Certificate</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark-blue">
        <img src="https://images.credly.com/images/fce226c2-0f13-4e17-b60c-24fa6ffd88cb/twitter_thumb_201604_Intro2IoT.png" class="card-img-top cert-img">
        <div class="card-body">
          <h5 class="card-title text-center h5cert">Cisco Cybersecurity Completion Certificate</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark-blue">
        <img src="assets\img\redhat certificate screenshot.png" class="card-img-top cert-img" >
        <div class="card-body">
          <h5 class="card-title text-center h5cert">Red Hat System Administration I Certificate of Attendance</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>